@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=VT323:regular);
@import url(https://fonts.googleapis.com/css?family=Chonburi:regular);
@import url(https://fonts.googleapis.com/css?family=Fugaz+One:regular);
@font-face {
  font-family: KoreanDREAM3;
  font-weight: 400;
  font-style: normal;
  src: url("../font/KoreanDREAM3-R.eot");
  src: url("../font/KoreanDREAM3-R.eot#iefix") format("embedded-opentype"), url("../font/KoreanDREAM3-R.woff2") format("woff2"), url("../font/KoreanDREAM3-R.woff") format("woff"), url("../font/KoreanDREAM3-R.ttf") format("truetype"); }
@font-face {
  font-family: KoreanDREAM3;
  font-weight: 400;
  font-style: normal;
  src: url("../font/KoreanDREAM5-R.eot");
  src: url("../font/KoreanDREAM5-R.eot#iefix") format("embedded-opentype"), url("../font/KoreanDREAM5-R.woff2") format("woff2"), url("../font/KoreanDREAM5-R.woff") format("woff"), url("../font/KoreanDREAM5-R.ttf") format("truetype"); }
@font-face {
  font-family: DXPnM;
  font-weight: 400;
  font-style: normal;
  src: url("../font/DXPnM-KSCpc-EUC-H.eot");
  src: url("../font/DXPnM-KSCpc-EUC-H.eot#iefix") format("embedded-opentype"), url("../font/DXPnM-KSCpc-EUC-H.woff2") format("woff2"), url("../font/DXPnM-KSCpc-EUC-H.woff") format("woff"), url("../font/DXPnM-KSCpc-EUC-H.ttf") format("truetype"); }
/* tag reset */
body, div, ul, h1, h2, h3, h4, h5, h6, button, p {
  margin: 0;
  padding: 0; }

ul {
  list-style: none; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit; }

img {
  vertical-align: top; }

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: inherit; }

button {
  border: none;
  background: none;
  cursor: pointer; }

header, nav, section, footer {
  display: block; }

/* common class */
.blind-b {
  width: 1px;
  height: 1px;
  position: absolute;
  overflow: none;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%); }

.clearfix::before, .clear::after {
  content: "";
  display: block;
  clear: both; }

/* body */
body {
  font-family: KoreanDREAM3, "맑은 고딕", "Malgun Gothic";
  font-weight: 400;
  background-color: #B4CAFA;
  color: #000;
  overflow: hidden; }

/* skip */
#skip a {
  position: absolute;
  left: -9999px;
  top: 0;
  z-index: 1000; }
  #skip a:focus {
    left: 0;
    width: 100%;
    background: #FAF2A7;
    color: #000;
    text-align: center;
    font-weight: 400;
    font-size: 25px;
    height: 50px;
    line-height: 50px; }

/* logo & 네비게이션 */
#wrap {
  position: relative; }
  #wrap .logo {
    display: none;
    position: absolute;
    top: 29px;
    left: 32px;
    width: 131px;
    height: 77px; }
  #wrap .util {
    position: absolute;
    top: 17px;
    right: 22px;
    width: 44px;
    height: 44px; }
  #wrap .navWrap {
    display: none;
    position: relative;
    width: 100vw;
    height: 100vh;
    top: 0;
    right: 0px;
    background: orange; }
    #wrap .navWrap #gnb {
      position: absolute;
      text-align: left;
      left: 204px;
      top: 268px;
      width: 901px;
      height: 618px; }
      #wrap .navWrap #gnb ul {
        font-size: 115px;
        line-height: 160px;
        font-family: Chonburi;
        color: #FAF2A7; }
  #wrap .sns, #wrap .email {
    position: absolute;
    color: #fff;
    left: 1245px; }
  #wrap .sns p, #wrap .email p {
    padding-bottom: 18px;
    font-size: 21px; }
  #wrap .sns {
    top: 540px;
    right: 534px; }
    #wrap .sns ul li {
      font-size: 32px;
      letter-spacing: 0.61px; }
  #wrap .email {
    bottom: 221px; }
  #wrap .btn_close {
    display: none; }

/*# sourceMappingURL=common.css.map */
