#cnt1 {
  position: relative;
  width: 100%;
  height: 150vh;
  background: linear-gradient(#00E4F3, #005B61, #011D1F, #000000); }
  #cnt1 .project1Main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
    #cnt1 .project1Main .mainCircleWrap {
      position: relative;
      width: 670px;
      height: 670px;
      margin: 0 auto;
      /* .empty {
       @include border-radius(50%);
       width: 670px; height: 670px; border: 1px solid #fff; position: absolute; 
      } */ }
      #cnt1 .project1Main .mainCircleWrap div.bigMainCircle {
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        position: relative;
        width: 100%;
        height: 100%;
        background: #fff;
        margin: 217px auto 0;
        overflow: hidden; }
        #cnt1 .project1Main .mainCircleWrap div.bigMainCircle img {
          position: absolute;
          top: 17%;
          left: -20%; }
        #cnt1 .project1Main .mainCircleWrap div.bigMainCircle::before {
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
          position: absolute;
          border: 1px solid #fff;
          top: 0;
          left: 420px; }
    #cnt1 .project1Main p {
      position: absolute;
      display: fixed;
      top: 455px;
      right: 150px;
      font-family: "Fugaz one";
      font-size: 130px;
      color: #fff; }
  #cnt1 .simpleExplain {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #000;
    width: 100%;
    height: 190px; }
    #cnt1 .simpleExplain .sicssor {
      position: relative;
      height: 224px;
      line-height: 224px;
      width: 100%; }
      #cnt1 .simpleExplain .sicssor::before {
        content: "";
        clear: both;
        position: absolute;
        border-top: 3px dashed #fff;
        top: -2px;
        right: 0;
        width: 97%; }
      #cnt1 .simpleExplain .sicssor img {
        position: absolute;
        top: -32px;
        left: 0;
        fill: #fff; }
      #cnt1 .simpleExplain .sicssor img.goproLogo {
        position: absolute;
        top: 30.5px;
        left: 241px;
        width: 283px;
        height: 161px; }
      #cnt1 .simpleExplain .sicssor .explainText {
        float: right;
        width: 1020.5px;
        height: 114.5px; }
        #cnt1 .simpleExplain .sicssor .explainText span {
          display: inline-block;
          font-size: 17px;
          font-family: "Fugaz one";
          padding-right: 87px;
          color: #fff;
          line-height: 0; }
        #cnt1 .simpleExplain .sicssor .explainText p {
          display: block;
          text-align: left;
          font-size: 17px;
          font-family: "Fugaz one";
          color: #fff; }

/* cnt2 common */
h3 {
  font-family: KoreanDREAM5;
  font-size: 28px;
  padding-bottom: 24px; }

p.content {
  font-family: KoreanDREAM3;
  font-size: 15px;
  line-height: 22px;
  display: block;
  padding-bottom: 130px; }

/* cnt2 CSS */
#cnt2 {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background: #F6F6F6;
  width: 100%;
  height: 100vh; }
  #cnt2 .designLeft {
    margin-left: 167px;
    margin-top: 141px;
    position: relative; }
    #cnt2 .designLeft img:first-child {
      position: absolute;
      top: -15px;
      left: -15px;
      width: 18.16px;
      height: 18.36px; }
    #cnt2 .designLeft img:last-child {
      width: 360px;
      height: 500px; }
  #cnt2 .designRight {
    margin-left: 268px;
    margin-top: 141px; }
    #cnt2 .designRight .designColor > p {
      padding-bottom: 29px; }
    #cnt2 .designRight .designColor .colorWrap {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      padding-left: 17px; }
      #cnt2 .designRight .designColor .colorWrap .colorCubeWrap {
        margin-right: 45px; }
      #cnt2 .designRight .designColor .colorWrap .colorCube {
        width: 206px;
        height: 101px; }
        #cnt2 .designRight .designColor .colorWrap .colorCube + div {
          padding-right: 45px; }
      #cnt2 .designRight .designColor .colorWrap .mainBlue {
        background: #00E4F3; }
      #cnt2 .designRight .designColor .colorWrap .subBlue {
        background: #096A8A; }
      #cnt2 .designRight .designColor .colorWrap .mainGrey1 {
        background: #505050; }
      #cnt2 .designRight .designColor .colorWrap .mainGrey2 {
        background: #c2c2c2; }
      #cnt2 .designRight .designColor .colorWrap p {
        font-family: KoreanDREAM3;
        font-size: 15px;
        line-height: 24px;
        letter-spacing: 0.05em; }
    #cnt2 .designRight .designTypo {
      margin-top: 141px; }
      #cnt2 .designRight .designTypo > p {
        padding-bottom: 29px; }
      #cnt2 .designRight .designTypo img {
        padding-left: 17px; }

#cnt3 {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: #F6F6F6; }
  #cnt3 .bgLine {
    position: absolute;
    width: 100%;
    height: 302px;
    background: #00E4F3;
    top: calc(50% - 148.5px);
    left: 0; }
    #cnt3 .bgLine > p {
      font-family: KoreaDREAM5;
      font-size: 62px;
      letter-spacing: -0.27px;
      line-height: 79px;
      font-weight: 900;
      padding: 73px 0 73px 1066px; }
  #cnt3 .originalHomepage {
    position: relative;
    display: inline; }
    #cnt3 .originalHomepage p {
      display: inline-block;
      font-family: KoreanDREAM5;
      padding: 60px 0 50px 400px; }
    #cnt3 .originalHomepage img {
      position: absolute;
      top: 126px;
      left: 189px;
      width: 503px; }
  #cnt3 .analysisText {
    position: relative;
    width: 690px;
    height: 171px;
    float: right;
    padding-right: 206px;
    margin-top: 168px; }
    #cnt3 .analysisText img {
      position: absolute;
      top: -15px;
      left: -15px;
      width: 18.16px;
      height: 18.36px; }
    #cnt3 .analysisText p {
      padding-bottom: 0; }
      #cnt3 .analysisText p span {
        color: #16aec0; }

#cnt4 {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: #F6F6F6; }
  #cnt4 .wireframe {
    display: inline-block;
    margin-left: 0;
    position: relative;
    margin: 80px 0 222px;
    width: 100%; }
    #cnt4 .wireframe > img:first-child {
      position: absolute;
      top: -15px;
      left: 44.5%;
      width: 18.16px;
      height: 18.36px; }
    #cnt4 .wireframe h3 {
      text-align: center; }
    #cnt4 .wireframe .content {
      padding-bottom: 0;
      text-align: center; }
      #cnt4 .wireframe .content span {
        color: #16aec0; }
  #cnt4 .wireframeWrap {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-end;
    width: 1250px;
    height: 476px;
    text-align: center;
    margin: 0 auto; }
    #cnt4 .wireframeWrap span {
      display: block;
      font-family: KoreaDREAM5;
      font-size: 22px;
      color: #c4c4c4;
      text-align: center;
      padding-top: 77px; }

/*# sourceMappingURL=gopro.css.map */
