#cnt1 {
  position: relative;
  width: 100%;
  height: 150vh;
  background: linear-gradient(#00E4F3, #005B61, #011D1F, #000000); }
  #cnt1 .project1Main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
    #cnt1 .project1Main .mainCircleWrap {
      position: relative;
      width: 670px;
      height: 670px;
      margin: 0 auto;
      /* .empty {
       @include border-radius(50%);
       width: 670px; height: 670px; border: 1px solid #fff; position: absolute; 
      } */ }
      #cnt1 .project1Main .mainCircleWrap div.bigMainCircle {
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        position: relative;
        width: 100%;
        height: 100%;
        background: #fff;
        margin: 217px auto 0;
        overflow: hidden; }
        #cnt1 .project1Main .mainCircleWrap div.bigMainCircle img {
          position: absolute;
          top: 17%;
          left: -20%; }
        #cnt1 .project1Main .mainCircleWrap div.bigMainCircle::before {
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
          position: absolute;
          border: 1px solid #fff;
          top: 0;
          left: 420px; }
    #cnt1 .project1Main p {
      position: absolute;
      display: fixed;
      top: 455px;
      right: 150px;
      font-family: "Fugaz one";
      font-size: 130px;
      color: #fff; }
  #cnt1 .simpleExplain {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #000;
    width: 100%;
    height: 190px; }
    #cnt1 .simpleExplain .sicssor {
      position: relative;
      height: 224px;
      line-height: 224px;
      width: 100%; }
      #cnt1 .simpleExplain .sicssor::before {
        content: "";
        clear: both;
        position: absolute;
        border-top: 3px dashed #fff;
        top: -2px;
        right: 0;
        width: 97%; }
      #cnt1 .simpleExplain .sicssor img {
        position: absolute;
        top: -32px;
        left: 0;
        fill: #fff; }
      #cnt1 .simpleExplain .sicssor img.goproLogo {
        position: absolute;
        top: 30.5px;
        left: 241px;
        width: 283px;
        height: 161px; }
      #cnt1 .simpleExplain .sicssor .explainText {
        float: right;
        width: 1020.5px;
        height: 114.5px; }
        #cnt1 .simpleExplain .sicssor .explainText span {
          display: inline-block;
          font-size: 17px;
          font-family: "Fugaz one";
          padding-right: 87px;
          color: #fff;
          line-height: 0; }
        #cnt1 .simpleExplain .sicssor .explainText p {
          display: block;
          text-align: left;
          font-size: 17px;
          font-family: "Fugaz one";
          color: #fff; }

/* cnt2 common */
h3 {
  font-family: KoreanDREAM5;
  font-size: 28px;
  padding-bottom: 24px;
  font-weight: 400; }

p.content {
  font-family: KoreanDREAM3;
  font-size: 15px;
  line-height: 22px;
  display: block;
  padding-bottom: 130px; }

/* cnt2 CSS */
#cnt2 {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background: #F6F6F6;
  width: 100%;
  height: 100vh; }
  #cnt2 .designLeft {
    margin-left: 167px;
    margin-top: 141px;
    position: relative; }
    #cnt2 .designLeft img:first-child {
      position: absolute;
      top: -15px;
      left: -15px;
      width: 18.16px;
      height: 18.36px; }
    #cnt2 .designLeft img:last-child {
      width: 360px;
      height: 500px; }
  #cnt2 .designRight {
    margin-left: 268px;
    margin-top: 141px; }
    #cnt2 .designRight .designColor > p {
      padding-bottom: 29px; }
    #cnt2 .designRight .designColor .colorWrap {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      padding-left: 17px; }
      #cnt2 .designRight .designColor .colorWrap .colorCubeWrap {
        margin-right: 45px; }
      #cnt2 .designRight .designColor .colorWrap .colorCube {
        width: 206px;
        height: 101px; }
        #cnt2 .designRight .designColor .colorWrap .colorCube + div {
          padding-right: 45px; }
      #cnt2 .designRight .designColor .colorWrap .mainBlue {
        background: #00E4F3; }
      #cnt2 .designRight .designColor .colorWrap .subBlue {
        background: #096A8A; }
      #cnt2 .designRight .designColor .colorWrap .mainGrey1 {
        background: #505050; }
      #cnt2 .designRight .designColor .colorWrap .mainGrey2 {
        background: #c2c2c2; }
      #cnt2 .designRight .designColor .colorWrap p {
        font-family: KoreanDREAM3;
        font-size: 15px;
        line-height: 24px;
        letter-spacing: 0.05em; }
    #cnt2 .designRight .designTypo {
      margin-top: 141px; }
      #cnt2 .designRight .designTypo > p {
        padding-bottom: 29px; }
      #cnt2 .designRight .designTypo img {
        padding-left: 17px; }

/* cnt3 CSS */
#cnt3 {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: #F6F6F6; }
  #cnt3 .bgLine {
    position: absolute;
    width: 100%;
    height: 302px;
    background: #00E4F3;
    top: calc(50% - 148.5px);
    left: 0; }
    #cnt3 .bgLine > p {
      font-family: KoreaDREAM3;
      font-size: 62px;
      letter-spacing: -0.27px;
      line-height: 79px;
      font-weight: 900;
      padding: 73px 0 73px 1066px; }
  #cnt3 .originalHomepage {
    position: relative;
    display: inline; }
    #cnt3 .originalHomepage p {
      display: inline-block;
      font-family: KoreanDREAM3;
      padding: 60px 0 50px 400px; }
    #cnt3 .originalHomepage img {
      position: absolute;
      top: 126px;
      left: 189px;
      width: 503px; }
  #cnt3 .analysisText {
    position: relative;
    width: 690px;
    height: 171px;
    float: right;
    padding-right: 206px;
    margin-top: 168px; }
    #cnt3 .analysisText img {
      position: absolute;
      top: -15px;
      left: -15px;
      width: 18.16px;
      height: 18.36px; }
    #cnt3 .analysisText p {
      padding-bottom: 0; }
      #cnt3 .analysisText p span {
        color: #16aec0; }

/* cnt4 CSS */
#cnt4 {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: #F6F6F6; }
  #cnt4 .wireframe {
    display: inline-block;
    margin-left: 0;
    position: relative;
    margin: 80px 0 222px;
    width: 100%; }
    #cnt4 .wireframe > img:first-child {
      position: absolute;
      top: -15px;
      left: 44.5%;
      width: 18.16px;
      height: 18.36px; }
    #cnt4 .wireframe h3 {
      text-align: center; }
    #cnt4 .wireframe .content {
      padding-bottom: 0;
      text-align: center; }
      #cnt4 .wireframe .content span {
        color: #16aec0; }
  #cnt4 .wireframeWrap {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-end;
    width: 1250px;
    height: 476px;
    text-align: center;
    margin: 0 auto; }
    #cnt4 .wireframeWrap span {
      display: block;
      font-family: KoreaDREAM5;
      font-size: 22px;
      color: #c4c4c4;
      text-align: center;
      padding-top: 77px; }

#cnt5 {
  position: relative;
  width: 100%;
  height: 125.9vh;
  background: #000000; }
  #cnt5 .previewText {
    display: inline-block;
    margin-left: 0;
    position: relative;
    /* margin: 128px 0 0; */
    padding-top: 128px;
    width: 100%;
    height: 324px;
    overflow: hidden;
    padding-bottom: 222px; }
    #cnt5 .previewText .pageBlurImg {
      position: absolute;
      top: 80%;
      left: 0;
      right: 0;
      margin: 0 auto; }
    #cnt5 .previewText > img:nth-child(2) {
      position: absolute;
      top: 17%;
      left: 42%;
      width: 18.16px;
      height: 18.36px; }
    #cnt5 .previewText h3 {
      position: relative;
      color: #fff;
      text-align: center;
      font-weight: 400; }
    #cnt5 .previewText .content {
      position: relative;
      padding-bottom: 0;
      text-align: center;
      color: #fff;
      font-size: 24px;
      line-height: 34px; }
      #cnt5 .previewText .content span {
        color: #16aec0; }
    #cnt5 .previewText a {
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
      border-radius: 50px;
      position: relative;
      display: block;
      background: #fff;
      width: 252px;
      height: 74px;
      line-height: 74px;
      font-family: "Fugaz one";
      font-size: 24px;
      color: #000;
      text-align: center;
      margin: 151px auto 128px; }
  #cnt5 .deviceImg {
    position: relative;
    width: 100%;
    height: 686px;
    background: #ffffff; }
    #cnt5 .deviceImg img {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0 auto; }

/* cnt6 CSS */
#cnt6 {
  position: relative;
  width: 100%;
  height: 100vh;
  background: #000000; }
  #cnt6 .openWax {
    display: inline-block;
    margin-left: 0;
    position: relative;
    margin: 128px 0 0;
    width: 100%;
    height: 159px;
    /* padding-bottom: 222px; */ }
    #cnt6 .openWax > img:first-child {
      position: absolute;
      top: -15px;
      left: 36.5%;
      width: 18.16px;
      height: 18.36px; }
    #cnt6 .openWax h3 {
      color: #fff;
      text-align: center;
      padding-bottom: 50px; }
    #cnt6 .openWax .content {
      padding-bottom: 0;
      text-align: center;
      color: #fff;
      font-size: 24px;
      line-height: 34px; }
  #cnt6 .openWaxImg {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 1297px;
    height: 590px;
    text-align: center;
    margin: 0 auto;
    margin-top: 93px; }
    #cnt6 .openWaxImg .originalPage {
      position: relative;
      display: inline-block;
      z-index: 10; }
      #cnt6 .openWaxImg .originalPage > img:first-child {
        padding-bottom: 46px; }
      #cnt6 .openWaxImg .originalPage .circleScore1 {
        position: absolute;
        top: -10%;
        left: 5%; }
      #cnt6 .openWaxImg .originalPage span {
        display: inline-block;
        font-family: KoreanDREAM3;
        color: #fff; }
    #cnt6 .openWaxImg .projectPage {
      position: relative;
      display: inline-block;
      z-index: 10; }
      #cnt6 .openWaxImg .projectPage > img:first-child {
        padding-bottom: 46px; }
      #cnt6 .openWaxImg .projectPage .circleScore2 {
        position: absolute;
        top: -10%;
        left: 5%; }
      #cnt6 .openWaxImg .projectPage span {
        display: inline-block;
        font-family: KoreanDREAM3;
        color: #fff; }
  #cnt6 .decoBlueCircle {
    position: static; }
    #cnt6 .decoBlueCircle div {
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      position: absolute;
      top: 0;
      left: calc(50% - 289px);
      width: 590px;
      height: 590px;
      border: 1px solid #00E4F3;
      box-sizing: border-box; }
    #cnt6 .decoBlueCircle div:nth-child(2) {
      left: calc(50% - 333px); }
    #cnt6 .decoBlueCircle div:nth-child(3) {
      left: calc(50% - 245px); }

/* gopro7 CSS */
#gopro7 {
  width: 100%;
  height: 100vh;
  background: #F6F6F6;
  /* .goproSlide1 {
      position: relative; display: inline-block; margin-left: 0; padding-top: 111px; width: 100%; height: 100vh;
      .detailText {
        position: relative; width: 100%; height: 81px; 
        > img:first-child {
          position: absolute; top: -15px; left: 5%; width: 18.16px; height: 18.36px;
        }
        h3 {display: inline-block; padding: 0 0 0 113px; vertical-align: top;}
        > p {display: inline-block; padding-left: 105px;}
        .detailTitle {
          font-size: 21px; line-height: 32px;
          strong {font-size: 25px; padding-bottom: 20px;}
        }
      }
      .compare1 {
        position: relative; font-size: 0; margin-top: 137px;
        .goproAutoJsWrap {text-align: center;}
        > img {position: absolute; top: 22%; left: 54%;}
        > p {font-size: 21px; text-align: center; line-height: 36px; padding-top: 63px;}
      }
  } */ }
  #gopro7 .swiper-slide {
    position: relative;
    display: inline-block;
    margin-left: 0;
    padding-top: 111px;
    width: 100%;
    height: 100vh; }
    #gopro7 .swiper-slide .detailText {
      position: relative;
      width: 100%;
      height: 81px; }
      #gopro7 .swiper-slide .detailText > img:first-child {
        position: absolute;
        top: -15px;
        left: 5%;
        width: 18.16px;
        height: 18.36px; }
      #gopro7 .swiper-slide .detailText h3 {
        display: inline-block;
        padding: 0 0 0 113px;
        vertical-align: top; }
      #gopro7 .swiper-slide .detailText > p {
        display: inline-block;
        padding-left: 105px; }
      #gopro7 .swiper-slide .detailText .detailTitle {
        font-size: 21px;
        line-height: 32px; }
        #gopro7 .swiper-slide .detailText .detailTitle strong {
          font-size: 25px;
          padding-bottom: 20px; }
    #gopro7 .swiper-slide .compare {
      position: relative;
      font-size: 0;
      margin-top: 137px; }
      #gopro7 .swiper-slide .compare .goproAutoJsWrap {
        text-align: center; }
      #gopro7 .swiper-slide .compare > img {
        position: absolute;
        top: 22%;
        left: 54%; }
      #gopro7 .swiper-slide .compare > p {
        font-size: 21px;
        text-align: center;
        line-height: 36px;
        padding-top: 63px; }
  #gopro7 .goproSlide2 .compare2 {
    position: relative;
    font-size: 0;
    margin-top: 137px; }
    #gopro7 .goproSlide2 .compare2 .goproIframeWrap {
      text-align: center; }
    #gopro7 .goproSlide2 .compare2 > img {
      position: absolute;
      top: 22%;
      left: 54%; }
    #gopro7 .goproSlide2 .compare2 > p {
      font-size: 21px;
      text-align: center;
      line-height: 36px;
      padding-top: 63px; }
    #gopro7 .goproSlide2 .compare2 > span {
      color: #00E4F3; }
  #gopro7 .goproSlide3 .compare3 .goproKeyJsWrap {
    text-align: center; }
  #gopro7 .goproSlide3 .compare3 > img:first-child {
    position: absolute;
    top: 22%;
    left: 75; }
  #gopro7 .goproSlide3 .compare3 > img:last-child {
    position: absolute;
    top: 42%;
    left: 54%; }
  #gopro7 .goproSlide3 .compare3 > p {
    font-size: 21px;
    text-align: center;
    line-height: 36px;
    padding-top: 63px; }
  #gopro7 .goproSlide3 .compare3 > span {
    color: #00E4F3; }

/*# sourceMappingURL=gopro.css.map */
