#helinox1 {
  position: relative;
  width: 100%;
  height: 150vh;
  background: #000; }
  #helinox1 .project2Main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
    #helinox1 .project2Main .mainCircleWrap {
      position: relative;
      width: 670px;
      height: 670px;
      margin: 0 auto;
      /* .empty {
       @include border-radius(50%);
       width: 670px; height: 670px; border: 1px solid #fff; position: absolute; 
      } */ }
      #helinox1 .project2Main .mainCircleWrap div.bigMainCircle {
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        position: relative;
        width: 100%;
        height: 100%;
        background: #fff;
        margin: 217px auto 0;
        overflow: hidden; }
        #helinox1 .project2Main .mainCircleWrap div.bigMainCircle img {
          position: absolute;
          top: -20%;
          left: 14%; }
        #helinox1 .project2Main .mainCircleWrap div.bigMainCircle::before {
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
          position: absolute;
          border: 1px solid #fff;
          top: 0;
          left: 420px; }
    #helinox1 .project2Main p {
      position: absolute;
      display: fixed;
      top: 455px;
      right: 106px;
      font-family: "Fugaz one";
      font-size: 130px;
      color: #fff; }
  #helinox1 .simpleExplain {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #000;
    width: 100%;
    height: 190px; }
    #helinox1 .simpleExplain .sicssor {
      position: relative;
      height: 224px;
      line-height: 224px;
      width: 100%; }
      #helinox1 .simpleExplain .sicssor::before {
        content: "";
        clear: both;
        position: absolute;
        border-top: 3px dashed #fff;
        top: -2px;
        right: 0;
        width: 97%; }
      #helinox1 .simpleExplain .sicssor img {
        position: absolute;
        top: -32px;
        left: 0;
        fill: #fff; }
      #helinox1 .simpleExplain .sicssor img.helinoxLogo {
        position: absolute;
        top: 58px;
        left: 265px;
        width: 367px;
        height: 79px; }
      #helinox1 .simpleExplain .sicssor .explainText {
        float: right;
        width: 1020.5px;
        height: 114.5px; }
        #helinox1 .simpleExplain .sicssor .explainText span {
          display: inline-block;
          font-size: 17px;
          font-family: "Fugaz one";
          padding-right: 87px;
          color: #fff;
          line-height: 0; }
        #helinox1 .simpleExplain .sicssor .explainText p {
          display: block;
          text-align: left;
          font-size: 17px;
          font-family: "Fugaz one";
          color: #fff; }

/* helinox2 common */
h3 {
  font-family: KoreanDREAM5;
  font-size: 28px;
  padding-bottom: 24px;
  font-weight: 400; }

p.content {
  font-family: KoreanDREAM3;
  font-size: 15px;
  line-height: 22px;
  display: block;
  padding-bottom: 130px; }

/* helinox2 CSS */
#helinox2 {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background: #F6F6F6;
  width: 100%;
  height: 100vh; }
  #helinox2 .designLeft {
    margin-left: 167px;
    margin-top: 141px;
    position: relative; }
    #helinox2 .designLeft img:first-child {
      position: absolute;
      top: -15px;
      left: -15px;
      width: 18.16px;
      height: 18.36px; }
    #helinox2 .designLeft img {
      font-size: 137px; }
    #helinox2 .designLeft img + img {
      margin-top: -22px; }
  #helinox2 .designRight {
    margin-left: 268px;
    margin-top: 141px; }
    #helinox2 .designRight .designColor > p {
      padding-bottom: 29px; }
    #helinox2 .designRight .designColor .colorWrap {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      padding-left: 17px; }
      #helinox2 .designRight .designColor .colorWrap .colorCubeWrap {
        margin-right: 101px; }
      #helinox2 .designRight .designColor .colorWrap .colorCube {
        width: 206px;
        height: 101px; }
      #helinox2 .designRight .designColor .colorWrap .mainBlue {
        background: #1C98D6; }
      #helinox2 .designRight .designColor .colorWrap .mainGrey1 {
        background: #333333; }
      #helinox2 .designRight .designColor .colorWrap .mainGrey2 {
        background: #e2e2e2; }
      #helinox2 .designRight .designColor .colorWrap p {
        font-family: KoreanDREAM3;
        font-size: 15px;
        line-height: 24px;
        letter-spacing: 0.05em; }
    #helinox2 .designRight .designTypo {
      margin-top: 141px; }
      #helinox2 .designRight .designTypo > p {
        padding-bottom: 29px; }
      #helinox2 .designRight .designTypo img {
        padding-left: 17px; }

/* helinox3 CSS */
#helinox3 {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: #F6F6F6; }
  #helinox3 .bgLine {
    position: absolute;
    width: 100%;
    height: 302px;
    background: #1C98D6;
    top: calc(50% - 148.5px);
    left: 0; }
    #helinox3 .bgLine > p {
      font-family: KoreaDREAM3;
      font-size: 62px;
      letter-spacing: -0.27px;
      line-height: 79px;
      font-weight: 900;
      padding: 73px 0 73px 243px;
      color: #fff;
      text-align: left; }
  #helinox3 .originalHomepage {
    position: relative;
    display: inline-block;
    /* p {
      display: inline-block; font-family: KoreanDREAM3; padding: 60px 0 50px 400px;
    } */ }
    #helinox3 .originalHomepage img {
      position: absolute;
      top: 202px;
      left: 316px;
      width: 503px; }
  #helinox3 .analysisText {
    position: relative;
    width: 690px;
    height: 171px;
    float: left;
    padding-left: 206px;
    margin-top: 168px; }
    #helinox3 .analysisText img {
      position: absolute;
      top: -15px;
      left: 21%;
      width: 18.16px;
      height: 18.36px; }
    #helinox3 .analysisText p {
      padding-bottom: 0; }

/* helinox4 CSS */
#helinox4 {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: #F6F6F6; }
  #helinox4 .wireframe {
    display: inline-block;
    margin-left: 0;
    position: relative;
    margin: 80px 0 125px;
    width: 100%; }
    #helinox4 .wireframe > img:first-child {
      position: absolute;
      top: -15px;
      left: 44.5%;
      width: 18.16px;
      height: 18.36px; }
    #helinox4 .wireframe h3 {
      text-align: center; }
    #helinox4 .wireframe .content {
      padding-bottom: 0;
      text-align: center; }
      #helinox4 .wireframe .content span {
        color: #16aec0; }
  #helinox4 .wireframeWrap {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-end;
    width: 1675px;
    height: 650px;
    text-align: center;
    margin: 0 auto; }
    #helinox4 .wireframeWrap span {
      display: block;
      font-family: KoreaDREAM5;
      font-size: 22px;
      color: #c4c4c4;
      text-align: center; }

/* helinox5 CSS */
#helinox5 {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100vh;
  background: #000;
  margin-left: 0;
  padding-top: 111px; }
  #helinox5 .deviceDetail {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 81px; }
    #helinox5 .deviceDetail > img:first-child {
      position: absolute;
      top: -15px;
      left: 5%;
      width: 18.16px;
      height: 18.36px; }
    #helinox5 .deviceDetail h3 {
      display: inline-block;
      padding: 0 0 0 113px;
      vertical-align: top;
      color: #fff; }
    #helinox5 .deviceDetail > p {
      display: inline-block;
      padding-left: 105px;
      color: #fff; }
    #helinox5 .deviceDetail .deviceExplain {
      font-size: 21px;
      line-height: 32px; }
      #helinox5 .deviceDetail .deviceExplain span {
        color: #1c98d6; }
  #helinox5 .mockup {
    margin: 130px auto;
    width: 822px; }
  #helinox5 .helinoxMockups {
    font-size: 0; }
    #helinox5 .helinoxMockups .mockupBg {
      width: 411px;
      height: 308px;
      display: inline-block; }
    #helinox5 .helinoxMockups .hand1Bg {
      background: #1c98d6; }
    #helinox5 .helinoxMockups .hand2Bg {
      background: #ffffff; }
    #helinox5 .helinoxMockups .hand3Bg {
      background: #fff; }
    #helinox5 .helinoxMockups .hand4Bg {
      background: #1c98d6; }

/* helinox6 CSS */
#helinox6 {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: #000; }
  #helinox6 .mainPagePreview {
    position: relative;
    width: 690px;
    height: 171px;
    float: left;
    padding-left: 206px;
    margin-top: 168px; }
    #helinox6 .mainPagePreview img {
      position: absolute;
      top: -15px;
      left: 21%;
      width: 18.16px;
      height: 18.36px; }
    #helinox6 .mainPagePreview h3 {
      color: #fff; }
    #helinox6 .mainPagePreview p {
      color: #fff;
      padding-bottom: 0; }
  #helinox6 .mainPreviewImgs {
    position: relative; }
    #helinox6 .mainPreviewImgs img {
      position: absolute;
      right: -20%; }
  #helinox6 a {
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    position: absolute;
    bottom: 75px;
    left: 150px;
    display: block;
    background: #fff;
    width: 252px;
    height: 74px;
    line-height: 74px;
    font-family: "Fugaz one";
    font-size: 24px;
    color: #000;
    text-align: center; }

/* helinox7 CSS */
/* helinox8 CSS */
#helinox8 {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: #000; }
  #helinox8 .aboutPagePreview {
    position: relative;
    width: 550px;
    height: 171px;
    float: right;
    padding-right: 10%;
    margin-top: 34%; }
    #helinox8 .aboutPagePreview img {
      position: absolute;
      top: -15px;
      left: -2%;
      width: 18.16px;
      height: 18.36px; }
    #helinox8 .aboutPagePreview h3 {
      color: #fff; }
    #helinox8 .aboutPagePreview p {
      color: #fff;
      padding-bottom: 0; }
      #helinox8 .aboutPagePreview p span {
        color: #1c98d6; }
  #helinox8 .aboutPreviewImg {
    font-size: 0;
    width: 924px;
    height: 100%;
    padding-left: 100px; }
    #helinox8 .aboutPreviewImg img + img {
      padding-left: 25px; }
  #helinox8 a {
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    position: absolute;
    bottom: 75px;
    right: 25%;
    display: block;
    background: #fff;
    width: 252px;
    height: 74px;
    line-height: 74px;
    font-family: "Fugaz one";
    font-size: 24px;
    color: #000;
    text-align: center; }

/*# sourceMappingURL=helinox.css.map */
